.pagination {

}
.pagination a {
  color: #333 !important;
}
.pagination .active a {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff !important;
}
.pagination .active a:hover {
  background: #E68722;
  border-color: #E68722;
}
.motd {
  font-size:13px;
  /*font-weight:500;*/
  color:#a30d28;
  word-break: break-all;
}
.motd.motd-desc {
  color: #3e5e79;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
  padding: 20px;
  background-color: #edf5f7;
  border: 1px solid #e0eef1;
  margin-top: 10px;
  border-radius: 8px;
}
.motd.shops_notice {
  background-color: #f7eeed !important;
}

.pad {
padding: 7px 8px;
}

.green {
background: #00ff3738;
}

.red {
background: #f2dede;
}


#Payments .notification {
  color : #a30d28 !important;
  font-size:  16px;
  margin-bottom: 10px;
}

#Payments .notification.bad {
  color : #a30d28 !important;
}

#Payments .notification.good {
  color : green !important;
}

#Payments select  {
  width:  170px !important;
  min-width: max-content;
  margin-top : 0;
}

#Payments button  {
  margin-top : 0;
}

option:disabled {
  background: #00000038;
  color: #ff000087;
}
.shopexp {
  width: max-content;
  margin: auto;
}
.shopexp form {
  white-space: nowrap;
}
.maincard .btn.btn-index {
  display: block !important;
  width: 100% !important;
}
.navbar-user span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80px;
  display: inline-block;
  /*line-height: 15px;*/
  vertical-align: -6px;
}
.navbar i {
  line-height: inherit;
}
.orange {
  letter-spacing: 1px;
  color : #E68722;
}

#qiwi .card-header h4 {
  margin : 0;
  padding: 0;
}
#qiwi .accepted .card-body{
  font-size: 18px;
  text-align: center;
}
#qiwi .card-body {
  font-size: 15px;
}
#qiwi .timer {
  font-size: 34px;
  color: #f12020;
  text-align: center;
}
#qiwi .buttons {
  margin: 0 auto;
  width: fit-content;
}
#qiwi span.bold {
  font-weight: 700 !important;
}
#loading-screen img{
  height: 120px;
}
@keyframes alarm {
    0% { line-height: 0; height: 0; padding: 0; opacity:0; }
    100% { line-height: 30px; height: 50px; padding: 10px; opacity: 1; }
}
.alarm {
  position: fixed;
  top: 0;
  padding: 0;
  line-height: 0;
  opacity: 0;
  z-index: 9999;
  left: 10vw;
  max-width: 85vw;
  width: min-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .4s ease-in-out;
  animation-name: alarm;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  line-height: 30px; height: 50px; padding: 10px; opacity: 1;
}
.alarm.notice {
  background: #ddd;
  border-color: #aaa;
  color: #000;
}
.alarm.invis {
  line-height: 0; height: 0; padding: 0; opacity:0;
}
.report-form {
  display: grid;
  grid-template-columns: auto auto auto auto 1fr auto auto auto auto auto auto;
  grid-gap: 5px;
  width: 100%;
}
.report-form .btn {
  line-height: 32px;
  padding: 0 10px;
  height: 34px !important;
}
.repot-subhead td,
.repot-head td {
  text-align: center;
}
.repot-head td {
  font-weight: bold !important;
}
.repot-subhead td {
  line-height: 10px !important;
  font-size: 12px;
}
.report-row td {
  text-align: right;
  font-family: mono, monospace;
}
.report-row td:nth-child(1) {
  text-align: left;
  font-family: inherit;
}
.report-row.fiat + .report-row.crypto td {
  border-top-width: 5px;
}
.report-desc {
  background: transparent !important;

}
.report-desc > td {
 line-height: 20px !important;
  padding: 10px 15px !important;
}
.errors-list {
  margin: 0 0 0 11px;
    padding: 5px;
    color : red;
}

.danger {
  border: 1px solid red;
}
.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: col-resize;
}
.form-range:focus {
  outline: 0;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #f0ad4e;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}
.form-range::-webkit-slider-thumb:active {
  background-color: #ebd4b5;
}
.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #eee;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #f0ad4e;
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-range::-moz-range-thumb {
    -moz-transition: none;
    transition: none;
  }
}
.form-range::-moz-range-thumb:active {
  background-color: #ebd4b5;
}
.form-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #eee;
  border-color: transparent;
  border-radius: 1rem;
}
.form-range:disabled {
  pointer-events: none;
}
.form-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}
.form-range:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}

@-webkit-keyframes touchme {
  100% {
     box-shadow: 0 0 5px 0px #ccc;
  }
}
@keyframes touchme {
  100% {
    box-shadow: 0 0 5px 0px #ccc;
  }
}
.form-range.touchme::-moz-range-thumb {
  box-shadow: 0 0 5px 5px #ccc;
  border-radius: 50%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
    -webkit-animation-name: touchme;
  animation-name: touchme;
}

#loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 220px;
}
#captcha-panel {
  height: 220px;
}
#loader .spinner {
  background: linear-gradient(to left, #fff0, #eee, #fff0);
  background-repeat: no-repeat;
  background-position-x: -500px;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 100%;
  display: flex;

}

#loader .spinner p {
  font-size: 16px;
  color: #ccc;
  margin: auto;
}

@keyframes spin {
    from {background-position-x: -800px;}
    to {background-position-x: 800px;}
}

#captchaCont {
  cursor: pointer;
}
.tx-deleted {
  opacity: .5;
  /*! border-top: 20px solid transparent; */
}
.product_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.top-filter {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  width: min(500px, 70vw);
}
.top-filter > input {
  height: 100%;
  display: block;
  padding: 0 10px;
}
.card.notice,
.flex.notice {
    color: #1d659d;
    background-color: #e4f7ff;
    border-color: #ceeaff;
  margin-top: -1.25rem !important;
  margin-bottom: 1.25rem !important;

}
.card.notice a,
.flex.notice a {
    border-bottom: 1px dotted;
    color: #00589e !important;
}
.card.notice .telegram,
.flex.notice ,telegram {
    color: #229ED9;
    margin: 10px 0px 0px 6px;
}

small.tx-comment {
  color: #333;
}
tr.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: disabled;
}
.modal.show {
  background: #0006;
}
.modal-dialog {
  padding-top: 50px;
}

.modal-loader  {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-gap: 5px;
  width: 100%;
  overflow: hidden;
}
.mega-loader {
  display: block;
  width: 10px;
  height: 50px;
  background: #C87114;
  border-radius: 10px;
  transform: rotate(24deg);
  animation-name: mload2;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.mega-loader.i2 {
  animation-delay: 0.15s;
}
.mega-loader.i3 {
  animation-delay: .3s;
}
@keyframes mload {
    0% {transform: rotate(-24deg)}
  50% {transform: rotate(24deg)}
  100% {transform: rotate(-24deg)}
}
@keyframes mload2 {
  0% {height: 0px; margin-top: 50px}
  30% {height: 50px; margin-top: 0px}
  60% {height: 50px}
  100% {height: 0px; margin-top: 0px}
}
.alarm.alert {
  margin:15px 0 15px 0;
}

textarea.pgp-key {
  font-family: monospace,mono;
  padding: 10px 15px;
  white-space: pre-wrap;
  max-height: 70vh;
  resize: none;
  /*! text-align: center; */
  height: min(25rem, calc(100vh - 270px));
  font-size: .6rem;
  /*! width: 404px; */
}
.form-pgp {
  /*! max-width: min(400px, 80vw); */
  margin:  0 auto;
  width: max-content;
}
.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  max-width: min(50vw, 700px)
}
.wrapline {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-icon.doubled {
  position: relative;
}
.navbar-icon.doubled i {
  margin-right: 1.2rem;
}
.navbar-icon.doubled sup {
  position: absolute;
  top: 4px;
  right: 0rem;
}
.navbar-icon.doubled sub {
  position: absolute;
  bottom: -2px;
  opacity: 0.5;
  right: 0rem;
  font-size: 0.5rem !important;
}

.tx-lable {
  position:  absolute;
  left: 8px;
  pointer-events: none;
  bottom: 2px;
}
.tx-deleted td {
  padding-bottom: 15px !important;
}

.debuger-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  opacity: .5;
  font-size: 34px !important;
  color: #fff !important;
  width: 50px;
  z-index: 8888;
}
.debuger-btn:nth-of-type(2){right:50px}
.debuger-btn:nth-of-type(1){right:100px}
.debuger-btn:hover {
  opacity: .8;
}
.debuger {
  position: fixed;
  background: #bbb;
  width: 90vw;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 50px;
  left: calc(10vw / 2);
  box-shadow: 0 0 10px;
  z-index: 9999;
}
.debuger h4 {
  margin-left: 15px;
}

.debuger[x-active="0"] {
  display: none !important;
}
.debuger[x-active="1"] {
  display: block !important;
}
.btn[x-hidden="1"] ~ .debuger,
.btn[x-hidden="1"] ~ * .debuger {
  display: none !important;
}


.flex {
    display: flex !important;
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}

.row_center {
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
}

.row_sb {
    justify-content: space-between;
}

.row_top {
    align-items: start;
}
.row_gap {
  gap: .5rem;
}

.row_end {
    justify-content: flex-end;
}

.row_col {
    flex-direction: column;
}

@media screen and (min-width:320px) {
  .row-1\@xs>* {width: 100%;}
  .row-1-2\@xs>* {width: 50%;}
  .row-1-3\@xs>* {width: 33.33%;}
  .row-1-4\@xs>* {width: 25%;}
  .row-1-5\@xs>* {width: 20%;}
  .row-1-6\@xs>* {width: 16.66%;}

  .col-1\@xs {width: 100%;}
  .col-0\@xs {display: none;}
  .col-1-2\@xs,
  .col-2-4\@xs,
  .col-3-6\@xs,
  .col-4-8\@xs,
  .col-5-10\@xs,
  .col-6-12\@xs {width: 50%;}
  .col-1-3\@xs,
  .col-2-6\@xs,
  .col-3-9\@xs,
  .col-4-12\@xs {width: 33.333%;}
  .col-2-3\@xs,
  .col-4-6\@xs,
  .col-6-9\@xs,
  .col-8-12\@xs {width: 66.667%;}
  .col-1-4\@xs,
  .col-2-8\@xs,
  .col-3-12\@xs {width: 25%;}
  .col-3-4\@xs,
  .col-6-8\@xs,
  .col-9-12\@xs {width: 75%;}
  .col-1-5\@xs,
  .col-2-10\@xs {width: 20%;}
  .col-2-5\@xs,
  .col-4-10\@xs {width: 40%;}
  .col-3-5\@xs,
  .col-6-10\@xs {width: 60%;}
  .col-4-5\@xs,
  .col-8-10\@xs {width: 80%;}
  .col-1-6\@xs,
  .col-2-12\@xs {width: 16.667%;}
  .col-5-6\@xs,
  .col-10-12\@xs {width: 83.333%;}
  .col-1-7\@xs {width: 14.286%;}
  .col-2-7\@xs {width: 28.571%;}
  .col-3-7\@xs {width: 42.857%;}
  .col-4-7\@xs {width: 57.143%;}
  .col-5-7\@xs {width: 71.429%;}
  .col-6-7\@xs {width: 85.714%;}
  .col-1-8\@xs {width: 12.5%;}
  .col-3-8\@xs {width: 37.5%;}
  .col-5-8\@xs {width: 62.5%;}
  .col-7-8\@xs {width: 87.5%;}
  .col-1-9\@xs {width: 11.111%;}
  .col-2-9\@xs {width: 22.222%;}
  .col-4-9\@xs {width: 44.444%;}
  .col-5-9\@xs {width: 55.556%;}
  .col-7-9\@xs {width: 77.778%;}
  .col-8-9\@xs {width: 88.889%;}
  .col-1-10\@xs {width: 10%;}
  .col-3-10\@xs {width: 30%;}
  .col-7-10\@xs {width: 70%;}
  .col-9-10\@xs {width: 90%;}
  .col-1-11\@xs {width: 9.091%;}
  .col-2-11\@xs {width: 18.182%;}
  .col-3-11\@xs {width: 27.273%;}
  .col-4-11\@xs {width: 36.364%;}
  .col-5-11\@xs {width: 45.455%;}
  .col-6-11\@xs {width: 54.545%;}
  .col-7-11\@xs {width: 63.636%;}
  .col-8-11\@xs {width: 72.727%;}
  .col-9-11\@xs {width: 81.818%;}
  .col-10-11\@xs {width: 90.909%;}
  .col-1-12\@xs {width: 8.333%;}
  .col-5-12\@xs {width: 41.667%;}
  .col-7-12\@xs {width: 58.333%;}
  .col-11-12\@xs {width: 91.667%;}

  .cc_1\@xs {column-count: 1;}
  .cc_2\@xs {column-count: 2;}
  .cc_3\@xs {column-count: 3;}
  .cc_4\@xs {column-count: 4;}

  .payment-icon {
    height: max(30px, calc(100% - 20px));
    width: 30px;
  }

  .about_shop h4 {
    font-size: 18px;
  }

  .about_shop .icon_check_wrapper.trust {
    background-color: #FCCCA8;
    width: 12px;
    height: 12px;
    border-radius: 1px;
    margin-left: 6px;
  }
  .about_shop .icon_check_wrapper.trust i.check {
    display: inline-block;
    /*border-color: #F37F00;*/
    width: 4px;
    height: 6px;
    margin: -3px 4px 7px 4px;
    border: solid #F37F00;
    border-width: 0rem 0.1rem 0.1rem 0rem;
    transform: rotate( 42deg);
  }

  img.img_about_shop {
    width: 100%;
    min-width: 320px;
  }

  .domains .gradient {
    width: 100px;
  }

  .pdd-sm-wrapper {
    margin-right: -5px;
    margin-left: -5px;
  }
  .pdd-sm {
    padding: 5px 5px;
  }

  .pdd-md-wrapper {
    margin-right: -10px;
    margin-left: -10px;
  }
  .pdd-md {
    padding: 10px 10px;
  }

  .product-images .img-quality {
    width: 43%;
    bottom: -5px;
    right: 10px;
  }

  #megatest-anchor .img-cover {
    height: 140px;
  }

}

@media screen and (min-width:640px) {

  .row-1\@s>* {width: 100%;}
  .row-1-2\@s>* {width: 50%;}
  .row-1-3\@s>* {width: 33.33%;}
  .row-1-4\@s>* {width: 25%;}
  .row-1-5\@s>* {width: 20%;}
  .row-1-6\@s>* {width: 16.66%;}

  .col-1\@s {width: 100%;}
  .col-0\@s {display: none;}
  .col-1-2\@s,
  .col-2-4\@s,
  .col-3-6\@s,
  .col-4-8\@s,
  .col-5-10\@s,
  .col-6-12\@s {width: 50%;}
  .col-1-3\@s,
  .col-2-6\@s,
  .col-3-9\@s,
  .col-4-12\@s {width: 33.333%;}
  .col-2-3\@s,
  .col-4-6\@s,
  .col-6-9\@s,
  .col-8-12\@s {width: 66.667%;}
  .col-1-4\@s,
  .col-2-8\@s,
  .col-3-12\@s {width: 25%;}
  .col-3-4\@s,
  .col-6-8\@s,
  .col-9-12\@s {width: 75%;}
  .col-1-5\@s,
  .col-2-10\@s {width: 20%;}
  .col-2-5\@s,
  .col-4-10\@s {width: 40%;}
  .col-3-5\@s,
  .col-6-10\@s {width: 60%;}
  .col-4-5\@s,
  .col-8-10\@s {width: 80%;}
  .col-1-6\@s,
  .col-2-12\@s {width: 16.667%;}
  .col-5-6\@s,
  .col-10-12\@s {width: 83.333%;}
  .col-1-7\@s {width: 14.286%;}
  .col-2-7\@s {width: 28.571%;}
  .col-3-7\@s {width: 42.857%;}
  .col-4-7\@s {width: 57.143%;}
  .col-5-7\@s {width: 71.429%;}
  .col-6-7\@s {width: 85.714%;}
  .col-1-8\@s {width: 12.5%;}
  .col-3-8\@s {width: 37.5%;}
  .col-5-8\@s {width: 62.5%;}
  .col-7-8\@s {width: 87.5%;}
  .col-1-9\@s {width: 11.111%;}
  .col-2-9\@s {width: 22.222%;}
  .col-4-9\@s {width: 44.444%;}
  .col-5-9\@s {width: 55.556%;}
  .col-7-9\@s {width: 77.778%;}
  .col-8-9\@s {width: 88.889%;}
  .col-1-10\@s {width: 10%;}
  .col-3-10\@s {width: 30%;}
  .col-7-10\@s {width: 70%;}
  .col-9-10\@s {width: 90%;}
  .col-1-11\@s {width: 9.091%;}
  .col-2-11\@s {width: 18.182%;}
  .col-3-11\@s {width: 27.273%;}
  .col-4-11\@s {width: 36.364%;}
  .col-5-11\@s {width: 45.455%;}
  .col-6-11\@s {width: 54.545%;}
  .col-7-11\@s {width: 63.636%;}
  .col-8-11\@s {width: 72.727%;}
  .col-9-11\@s {width: 81.818%;}
  .col-10-11\@s {width: 90.909%;}
  .col-1-12\@s {width: 8.333%;}
  .col-5-12\@s {width: 41.667%;}
  .col-7-12\@s {width: 58.333%;}
  .col-11-12\@s {width: 91.667%;}

  .cc_1\@s {column-count: 1;}
  .cc_2\@s {column-count: 2;}
  .cc_3\@s {column-count: 3;}
  .cc_4\@s {column-count: 4;}

  .payment-icon {
    height: max(50px, calc(100% - 20px));
    width: 50px;
  }


}

@media screen and (min-width:960px) {

  .row-1\@m > * {width: 100%;}
  .row-1-2\@m > * {width: 50%;}
  .row-1-3\@m > * {width: 33.33%;}
  .row-1-4\@m > * {width: 25%;}
  .row-1-5\@m > * {width: 20%;}
  .row-1-6\@m > * {width: 16.66%;}
  .row-1-7\@m > * {width: 14.28%;}

  .col-1\@m {width: 100%;}
  .col-0\@m {display: none;}
  .col-1-2\@m,
  .col-2-4\@m,
  .col-3-6\@m,
  .col-4-8\@m,
  .col-5-10\@m,
  .col-6-12\@m {width: 50%;}
  .col-1-3\@m,
  .col-2-6\@m,
  .col-3-9\@m,
  .col-4-12\@m {width: 33.333%;}
  .col-2-3\@m,
  .col-4-6\@m,
  .col-6-9\@m,
  .col-8-12\@m {width: 66.667%;}
  .col-1-4\@m,
  .col-2-8\@m,
  .col-3-12\@m {width: 25%;}
  .col-3-4\@m,
  .col-6-8\@m,
  .col-9-12\@m {width: 75%;}
  .col-1-5\@m,
  .col-2-10\@m {width: 20%;}
  .col-2-5\@m,
  .col-4-10\@m {width: 40%;}
  .col-3-5\@m,
  .col-6-10\@m {width: 60%;}
  .col-4-5\@m,
  .col-8-10\@m {width: 80%;}
  .col-1-6\@m,
  .col-2-12\@m {width: 16.667%;}
  .col-5-6\@m,
  .col-10-12\@m {width: 83.333%;}
  .col-1-7\@m {width: 14.286%;}
  .col-2-7\@m {width: 28.571%;}
  .col-3-7\@m {width: 42.857%;}
  .col-4-7\@m {width: 57.143%;}
  .col-5-7\@m {width: 71.429%;}
  .col-6-7\@m {width: 85.714%;}
  .col-1-8\@m {width: 12.5%;}
  .col-3-8\@m {width: 37.5%;}
  .col-5-8\@m {width: 62.5%;}
  .col-7-8\@m {width: 87.5%;}
  .col-1-9\@m {width: 11.111%;}
  .col-2-9\@m {width: 22.222%;}
  .col-4-9\@m {width: 44.444%;}
  .col-5-9\@m {width: 55.556%;}
  .col-7-9\@m {width: 77.778%;}
  .col-8-9\@m {width: 88.889%;}
  .col-1-10\@m {width: 10%;}
  .col-3-10\@m {width: 30%;}
  .col-7-10\@m {width: 70%;}
  .col-9-10\@m {width: 90%;}
  .col-1-11\@m {width: 9.091%;}
  .col-2-11\@m {width: 18.182%;}
  .col-3-11\@m {width: 27.273%;}
  .col-4-11\@m {width: 36.364%;}
  .col-5-11\@m {width: 45.455%;}
  .col-6-11\@m {width: 54.545%;}
  .col-7-11\@m {width: 63.636%;}
  .col-8-11\@m {width: 72.727%;}
  .col-9-11\@m {width: 81.818%;}
  .col-10-11\@m {width: 90.909%;}
  .col-1-12\@m {width: 8.333%;}
  .col-5-12\@m {width: 41.667%;}
  .col-7-12\@m {width: 58.333%;}
  .col-11-12\@m {width: 91.667%;}

  .cc_1\@m {column-count: 1;}
  .cc_2\@m {column-count: 2;}
  .cc_3\@m {column-count: 3;}
  .cc_4\@m {column-count: 4;}

  img.img_about_shop {
    width:120px;
    min-width:120px;
    float: right;
  }

  .row-reverse-sm {
    display: flex;
    flex-direction: row-reverse;
  }

  .domains .gradient {
    width: 1px;
  }
    .pdd-sm-wrapper {
    margin-right: -10px;
    margin-left: -10px;
  }
  .pdd-sm {
    padding: 10px 10px;
  }

  .pdd-md-wrapper {
    margin-right: -15px;
    margin-left: -15px;
  }
  .pdd-md {
    padding: 15px 15px;
  }

  .product-images .img-quality {
    width: 35%;
  }

  #megatest-anchor .img-cover {
    height: 200px;
  }
}

@media screen and (min-width:1280px) {

  .row-1\@l>* {width: 100%;}
  .row-1-2\@l>* {width: 50%;}
  .row-1-3\@l>* {width: 33.33%;}
  .row-1-4\@l>* {width: 25%;}
  .row-1-5\@l>* {width: 20%;}
  .row-1-6\@l>* {width: 16.66%;}
  .row-1-7\@l>* {width: 14.28%;}

  .col-1\@l {width: 100%;}
  .col-0\@l {display: none;}
  .col-1-2\@l,
  .col-2-4\@l,
  .col-3-6\@l,
  .col-4-8\@l,
  .col-5-10\@l,
  .col-6-12\@l {width: 50%;}
  .col-1-3\@l,
  .col-2-6\@l,
  .col-3-9\@l,
  .col-4-12\@l {width: 33.333%;}
  .col-2-3\@l,
  .col-4-6\@l,
  .col-6-9\@l,
  .col-8-12\@l {width: 66.667%;}
  .col-1-4\@l,
  .col-2-8\@l,
  .col-3-12\@l {width: 25%;}
  .col-3-4\@l,
  .col-6-8\@l,
  .col-9-12\@l {width: 75%;}
  .col-1-5\@l,
  .col-2-10\@l {width: 20%;}
  .col-2-5\@l,
  .col-4-10\@l {width: 40%;}
  .col-3-5\@l,
  .col-6-10\@l {width: 60%;}
  .col-4-5\@l,
  .col-8-10\@l {width: 80%;}
  .col-1-6\@l,
  .col-2-12\@l {width: 16.667%;}
  .col-5-6\@l,
  .col-10-12\@l {width: 83.333%;}
  .col-1-7\@l {width: 14.286%;}
  .col-2-7\@l {width: 28.571%;}
  .col-3-7\@l {width: 42.857%;}
  .col-4-7\@l {width: 57.143%;}
  .col-5-7\@l {width: 71.429%;}
  .col-6-7\@l {width: 85.714%;}
  .col-1-8\@l {width: 12.5%;}
  .col-3-8\@l {width: 37.5%;}
  .col-5-8\@l {width: 62.5%;}
  .col-7-8\@l {width: 87.5%;}
  .col-1-9\@l {width: 11.111%;}
  .col-2-9\@l {width: 22.222%;}
  .col-4-9\@l {width: 44.444%;}
  .col-5-9\@l {width: 55.556%;}
  .col-7-9\@l {width: 77.778%;}
  .col-8-9\@l {width: 88.889%;}
  .col-1-10\@l {width: 10%;}
  .col-3-10\@l {width: 30%;}
  .col-7-10\@l {width: 70%;}
  .col-9-10\@l {width: 90%;}
  .col-1-11\@l {width: 9.091%;}
  .col-2-11\@l {width: 18.182%;}
  .col-3-11\@l {width: 27.273%;}
  .col-4-11\@l {width: 36.364%;}
  .col-5-11\@l {width: 45.455%;}
  .col-6-11\@l {width: 54.545%;}
  .col-7-11\@l {width: 63.636%;}
  .col-8-11\@l {width: 72.727%;}
  .col-9-11\@l {width: 81.818%;}
  .col-10-11\@l {width: 90.909%;}
  .col-1-12\@l {width: 8.333%;}
  .col-5-12\@l {width: 41.667%;}
  .col-7-12\@l {width: 58.333%;}
  .col-11-12\@l {width: 91.667%;}

  .cc_1\@l {column-count: 1;}
  .cc_2\@l {column-count: 2;}
  .cc_3\@l {column-count: 3;}
  .cc_4\@l {column-count: 4;}
}

@media(max-width:767px) {
 .hidden-xs {
  display:none !important;
 }
}
@media(min-width:768px) and (max-width:991px) {
 .hidden-sm {
  display:none !important;
 }
}
@media(min-width:992px) and (max-width:1199px) {
 .hidden-md {
  display:none !important;
 }
}
@media(min-width:1200px) {
 .hidden-lg {
  display:none !important;
 }
}
.bold,
.bold *
{
  font-weight: 600;
  /*font-weight: bold !important;*/

}
.op5{
opacity: .5!important;
}
.message-date:nth-last-child(1){
  margin-bottom: -1rem;
  opacity: 0.9 !important;
}
.payment-select .flex  {
  cursor: pointer;
}
.payment-select .flex > div {
/*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}
.payment-select .flex > div p {
/*  width:  100%;
  display: inline-block;
  padding-left: 10px;*/
}
.payment-select .flex > div:nth-child(2) {
  /*padding-bottom: 5px;*/
}
.payment-select .flex > div:nth-child(2),
.payment-select .flex > div:nth-child(3) {
/*  border-left: 10px solid #0000;
  transition: all .2s ease-in-out;*/
}
.payment-select input[type="radio"] {
  display:  none;
}

.payment-icon {
  object-position: center;
  object-fit: contain;
  /*filter: grayscale(1);*/
  transition: all .2s ease-in-out;
}
.payment-select label.ps {
  border-bottom: 1px solid #ededed;
  margin-bottom: 0px;
  width: -moz-available;
  width: max-available;
}
.payment-select label.ps div {
  padding-left: 12px;
}
/*.payment-select label:has(.bl-orange) {
  background-color: #FFF9F1;
}*/
.payment-select label.ps > input:checked ~ div {
  background-color: #FFF9F1;
}
.payment-select label.ps > input:checked ~ span.bl-orange {
  display: block;
}
.bl-orange {
  display: none;
  background-color: #e68722;
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.payment-select label.ps:hover {
  background-color: #FFF9F1;
}

.disabled {
  opacity: .4;
  pointer-events: none;
}
.message {
  padding:  .5rem 1.25rem 1rem 1.25rem;
  border-bottom: 1px solid #ddd;
}
.order-messages {
  padding: 0;
}
.message-body {
  padding: 0 1rem;
  /*! color: #666; */
}
.message-body.rating-body {
  padding: .5rem 0 .25rem 0;
}

.message-image {
  width: 60%;
  overflow: hidden;
  display: block;
  margin: .5rem 0 0 0;

  float: right;
  text-align: right;
}
.message-sender {
  margin-bottom: 3px;
  font-size: .85rem;
}
.message-sender .fa {
  position: relative;
  top: 2px;
  color: #666;
}
.sender-name {
  display:   grid;
  grid-template-columns: auto auto auto;
  width: max-content;
  grid-gap: .5rem;
  padding: 2px 10px;
  color: #000 !important;
  overflow: hidden;
  border-radius: 5px;
  margin-left: -10px;
  white-space: nowrap;
}
.sender-name > *:nth-last-child(1) {
  margin-right: -6px;
}

.sender-name > a:nth-last-child(1),
.sender-name > span:nth-last-child(1){
  margin-right: -16px;
}
.sender-moder {
  background:#309BBF;
}
.sender-moder * {
  color:#eee !important;
}
.sender-moder-sb {
  background: #E68722;
}
.sender-moder-head {
  background: #B52850;
}
.sender-seller {
  background: #96B528;
}
.sender-cour {
  background: #96B528dd;
}
#Alarms {
  position:  fixed;
  top: 50px;
  padding: 0;
  left: 10vh;
  z-index: 99999;
}
#Alarms .alarm {
  position: unset;
}
.card-header.bold {
  line-height: 34px;
  padding:  .2rem 1.25rem;
}
.card-header:nth-last-child(1) {
  border-bottom: none;
}
.type-body {
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.pack {
  border-bottom:  1px solid #EDEDED;
  line-height: 24px;
  display: grid;
  grid-template-columns: 40% 1fr;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.pack.pack-empty {
  grid-template-columns: 1fr;
}
.extended {
  margin-left: -1.25rem !important;
  margin-right: -1.25rem !important;
  padding: 1rem 1.25rem;
}
.bg-hover:hover {
  background: #f5f5f5 !important;
}
.type-body .pack:nth-of-type(1) {
  margin-top: -1.25rem;
}
.type-body .pack:nth-last-of-type(1) {
  border: 0;
  margin-bottom: -1.25rem;
}
.type-body .pack .pack-link,
.type-body .pack .pack-price,
.type-body .pack .pack-value {
  transition: none;
  overflow: hidden;
}

.pack .pack-price {
  grid-column: 1;
  grid-row: 1;
  white-space: nowrap;
}
.pack .pack-area {
  grid-column: 2;
  grid-row: 1/4;
  display: grid;
}
.pack .pack-value {
  color: #666;
  grid-column: 1;
  grid-row: 2;
  white-space: nowrap;
}
.pack-link {
  max-height: 100px;
  /*! color: #555; */
}
.pack-link i {
  opacity: .2;
  padding: 0 .25rem 0 0;
}
.pack-link:hover {
  color: #000;
}
.pack-link:hover i {
  opacity: 1;
}
.type-filter {
  margin-bottom: 0;
}
#Type1:checked ~ * label[for="Type1"],
#Type2:checked ~ * label[for="Type2"]
{
  background-color: #E68722;
  border-color: #E68722;
  color: #fff !important;
}
#Type1:checked ~ * .type-body.type2,
#Type2:checked ~ * .type-body.type1
{
  padding: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  display: none !important;
}

#Type1:checked ~ * .type-body.type2 .pack,
#Type2:checked ~ * .type-body.type1 .pack
{
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

#Type1:checked ~ * .type-body.type2 .pack-link,
#Type1:checked ~ * .type-body.type2 .pack-price,
#Type1:checked ~ * .type-body.type2 .pack-value,
#Type2:checked ~ * .type-body.type1 .pack-link,
#Type2:checked ~ * .type-body.type1 .pack-price,
#Type2:checked ~ * .type-body.type1 .pack-value {
  max-height: 0px !important;
  margin-bottom: 0 !important;
}
.placeholder {
  text-align: center;
  color: #aaa;
  font-weight: bold!important;
  font-size: 1.2rem !important;
  white-space: normal;
  word-break: break-word !important;
}
.placeholder.filler {
  line-height: 0;
  opacity: 0 !important;
  pointer-events: none;
}
.pack.placeholder {
  grid-template-columns: 1fr;
}
.stars {
  color: #aaa;
  letter-spacing: 2px;
}
.stars > .fa-star {
  color: #e68722;
}
.card.bread {

}
.bread > .card-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;
  grid-template-columns: repeat(10, auto) 1fr;
}
.crump {
  opacity: 0.4;
  font-size: 12px;
}
.crump:hover,
.crump:nth-last-child(1) {
  /*color: #222;*/
  /*opacity: 1;*/
}
.crump:after {
  content: "/";
  margin: 0 .25rem;
  /*color: #ddd !important;*/

}
.crump:nth-last-child(1) {
  opacity: 0.8;
  pointer-events: none;

}
.crump:nth-last-child(1):after {
  display: none;
}

.flex.rating {
  border-radius: 0;
  padding: .5rem;
  border-bottom: 1px solid #EDEDED;
}

.product-info .flex.rating:nth-child(1) {
  margin-top: -1.25rem;
}
.product-info .flex.rating:nth-last-child(1) {
  margin-bottom: -1.25rem;
}
.product-info .report-text {
  max-height: 75px;
  overflow: hidden;
}
.product-info .report-text[active] {
  max-height: 100%;
  overflow: hidden;
}
.flex.rating:nth-last-child(1) {
  border: 0;
}
.message-text {
  white-space: pre-wrap;
  word-break: break-word;
  color: #000;
}
.product-desc {
  white-space: pre-wrap;
  word-break: break-word;
}
.product-details .product-shop,
.product-details .product-about {
  margin-top: -1rem;
  margin-bottom: .5rem;
}
.product-images .main-image {
  padding-right: 1.25rem;
}
.product-images img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.product-images .side-images {
  display: grid;
  grid-template-rows: 1fr auto;
}
.btn-file {
  color: #777 !important;
  /*font-size: 1.2rem !important;*/
}
.sendbox-text {
  resize: vertical;
  min-height: 5rem;
  margin-bottom: 1rem;
}
.order-messages {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 300px;
  padding: 0;
}
.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  padding: 5px 10px;
}
.sendbox-buttons {
  display:  grid;
  grid-template-columns:  auto 1fr auto;
}


#fiat .row-end {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#fiat .row-top {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: -webkit-fill-available;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
#fiat .row-center {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.sb {
    justify-content: space-between;
}
.transition {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.orange {
    color: #e68722;
    letter-spacing: 0px;
}
.blue {
    color: #2196f3;
}
.green_completed {
    color: #08b868;
}
.grey {
    color: #777;
}
.upp {
    text-transform: uppercase;
}
.blink {
    animation: blink 800ms alternate infinite;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.border-grey {
    border-color: #ccc!important;
}
#exchanger .tutorial h6 {
    margin-bottom: 10px;
}
#exchanger ul, li {
    padding: 0px;
    margin: 0px;
    list-style: auto;
}
#exchanger .block {
    margin: 10px;
    box-shadow: 0px 2px 15px #00000010;
    border: 1px solid #ccc;
    padding: 25px 20px;
    background-color: #fff;
}
#exchanger .error_block {
    border: 1px solid #ffb5b5;
    background-color: #fff3f3cc;
    box-shadow: 0px 2px 15px #c3090936;
}
#exchanger .process_block {
    border: 1px solid #98e7ff;
    background-color: #f3fcff;
    box-shadow: 0px 2px 15px #09a5c336;
}
#exchanger .completed_block {
    border: 1px solid #8ceec3;
    background-color: #edfff7;
    box-shadow: 0px 2px 15px #07b86940;
}
#exchanger .hr {
    margin: 10px 0 10px 0;
}
#exchanger p a {
    color: #222;
}
#exchanger small {
    color: #777;
}
#exchanger small a{
    color: #777;
}
#exchanger .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: .5rem 1.25rem;
}
#exchanger .warning .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #faebcc;
}
#exchanger .warning .text {
    line-height: 18px;
}
#exchanger .warning li {
    list-style: none;
    margin: 0px 0px 5px;
}
#exchanger .warning .line {
    width: 100%;
    height: 1px;
    background-color: #8a6d3a21;
    margin: 5px;
}
#exchanger .tutorial .text {
    line-height: 18px;
}
#exchanger .tutorial li {
    list-style: none;
    margin: 0px 0px 7px;
}
#exchanger #exchanger .tutorial .line {
    width: 100%;
    height: 1px;
    background-color: #3b373017;
    margin-bottom: 10px;
}


#exchanger img.icon.checkmark {
    width: 12px;
}
#exchanger .order_number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: pointer;
}
.order_number .number {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#exchanger p {
    /*margin: 0px !important;*/
}

#payment_details .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#payment_details .l {
    font-size: 16px;
}
#agreement .timer {
    display: flex;
    /* margin-bottom: 15px; */
    flex-direction: row;
    align-items: center;
    /* height: 60px; */
    justify-content: space-around;
}
#exchanger .timer .number>div {
    font-size: 26px;
    margin: 0px 3px;
    font-weight: 900 !important;
}
#exchanger .timer h5 {
    font-size: 30px;
}
#exchanger .transaction_confirmation .timer .number {
    font-size: 28px;
}
#exchanger .transaction_confirmation .timer h5 {
    font-size: 28px;
    margin: 0px 3px;
}
#exchanger .transaction_confirmation .timer {
    display: flex;
    align-items: baseline;
}
#cancel {
    cursor: pointer;
    color: #777;
    /* border-bottom: 1px solid #77777782; */
    width: max-content;
    /* float: right; */
}
#exchanger .timer-card {
        /* background-color: #fff; */
        width: 40px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
}
#exchanger .status {
    font-size: 16px;
}
#exchanger .loading {
    font-size: 24px;
    display: inline-block;
    margin-left: .5rem !important;
}
#exchanger .loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: #fff;
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
    40% {
        color: rgb(0, 0, 0);
        text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
    60% {
        text-shadow:
        .25em 0 0 rgb(0, 0, 0),
        .5em 0 0 white;}
    80%, 100% {
        text-shadow:
        .25em 0 0 rgb(0, 0, 0),
        .5em 0 0 rgb(0, 0, 0);
    }
}
#exchanger .payment_details_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#exchanger .payment_details_buttons>div {
    cursor: pointer;
}
#exchanger .payment_details_buttons .open_chat p:hover {
    color: #eea236;
}
#exchanger .payment_details_buttons #cancel p:hover {
    color: #f24e1c;
}

/* Chat */

#exchanger .chat {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    width: max(320px, 20vw);
    height: max(420px, 30vh);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 7px 0px #00000014;
    z-index: 9999;
}

#exchanger .chat .create_msg input {
    width: 100%;
    height: 30px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ccc;
    border: none;
}

#exchanger .create_msg {
    padding-right: 50px;
    width: 100%;
    position: relative;
}

#exchanger  .scroll {
    margin-top: 30px;
    padding-top: 0px;
    width: 100%;
}

#exchanger .sending {
    opacity: 0.2;
}

#exchanger .message_error {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: min-content;
    bottom: 50px;
    left: 0px;
    padding: 10px 20px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
    z-index: 10;
}

#exchanger .message_error .icon.error {
    background-color: #ff6753;
    height: 24px;
    border-radius: 20px;
    color: #fff;
    width: 24px;
}

#exchanger .message_error .buttons {
    color: #e68721;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#exchanger .message_error .buttons .bttn {
    cursor: pointer;
    margin-left: 10px;
}

#exchanger .message_error .buttons .bttn {
    opacity: 0.7;
    border-bottom: 1px dotted #e68721;
    line-height: 16px;
}

#exchanger .message_error .buttons .bttn:hover {
    opacity: 1;
}

/* new */

#exchanger .chat .icon.close {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 11;
}

#exchanger .rotate {
    animation: rotate 1200ms alternate infinite;
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#exchanger .chat .icons {
    opacity: 1;
    color: #ff9525;
}

#exchanger .chat .create_msg .icons {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 11;
    opacity: 0.6;
    font-size: 17px;
    cursor: pointer;
}

#exchanger .chat .icons i:hover {
    opacity: 1;
    color: #ff9525;
}

#exchanger  .scroll {
    margin-top: 20px;
    padding-top: 0px;
    overflow-y: auto;
}


#exchanger .icon.close {
    position: absolute;
    top: 5px;
    right: 10px;
}

#exchanger .chat .icons.top {
    z-index: 11;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    background-color: #222;
    color: #fff;
}

#exchanger .chat .icons i:hover {
    opacity: 1;
    color: #ff9525;
}

#exchanger .chat .complete {
    border-bottom: 1px dotted #ffffff;
    font-size: 11px;
    line-height: 13px;
    background-color: #222;
    color: #ffffff;
    text-transform: uppercase;
}
#exchanger .chat .complete:hover {
    color: #ff9525;
    border-bottom: 1px dotted #ff9525;
}

#exchanger .notice_msg_complete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f44336;
    padding: 10px;
    color: #fff;
}
.m-1 {margin: 10px;}
.mt-1{margin-top: 10px;}
.mb-1{margin-bottom: 10px;}
.mr-1{margin-right: 10px;}
.ml-1{margin-left: 10px;}
.m-2 {margin: 20px;}
.mt-2{margin-top: 20px;}
.mb-2{margin-bottom: 20px;}
.mr-2{margin-right: 20px;}
.ml-2{margin-left: 20px;}
.m-3 {margin: 30px;}
.mt-3{margin-top: 30px;}
.mb-3{margin-bottom: 30px;}
.mr-3{margin-right: 30px;}
.ml-3{margin-left: 30px;}

.feedback-header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.feedback-header input {
  display: none !important;
}
.stars .fa-star {
  color: #eea236 !important;
}
.stars label {
  cursor: pointer;
  font-size: 22px;
}
.stars label:hover * {
  color: #eea236aa !important;
}

#star1:checked ~ label[for=star1] .fa-star-o,
#star1:checked ~ label[for=star1] + label .fa-star,
#star1:checked ~ label[for=star1] + label + label .fa-star,
#star1:checked ~ label[for=star1] + label + label + label .fa-star,
#star1:checked ~ label[for=star1] + label + label + label + label .fa-star,
#star2:checked ~ label[for=star1] .fa-star-o,
#star2:checked ~ label[for=star1] + label .fa-star-o,
#star2:checked ~ label[for=star1] + label + label .fa-star,
#star2:checked ~ label[for=star1] + label + label + label .fa-star,
#star2:checked ~ label[for=star1] + label + label + label + label .fa-star,
#star3:checked ~ label[for=star1] .fa-star-o,
#star3:checked ~ label[for=star1] + label .fa-star-o,
#star3:checked ~ label[for=star1] + label + label .fa-star-o,
#star3:checked ~ label[for=star1] + label + label + label .fa-star,
#star3:checked ~ label[for=star1] + label + label + label + label .fa-star,
#star4:checked ~ label[for=star1] .fa-star-o,
#star4:checked ~ label[for=star1] + label .fa-star-o,
#star4:checked ~ label[for=star1] + label + label .fa-star-o,
#star4:checked ~ label[for=star1] + label + label + label .fa-star-o,
#star4:checked ~ label[for=star1] + label + label + label + label .fa-star,
#star5:checked ~ label[for=star1] .fa-star-o,
#star5:checked ~ label[for=star1] + label .fa-star-o,
#star5:checked ~ label[for=star1] + label + label .fa-star-o,
#star5:checked ~ label[for=star1] + label + label + label .fa-star-o,
#star5:checked ~ label[for=star1] + label + label + label + label .fa-star-o
{
 display: none !important;
}
#OrderFeedback .rating {
  margin-top: -1.25rem;
  margin-bottom: -1.25rem;
}
.order-countdown {
  display: inline-block;
  position: relative;
}
.order-countdown .countdown-link {
  position: fixed;
  white-space: nowrap;
  top: 46px;
  right: 1rem;
  display: block;
  background: #222;
  padding: .25rem .5rem;
  border-radius: .5rem;
  /*! border: 1px solid #ddd; */
  color: #9d9d9d;
  box-shadow: 0 0 2px #2225;
  transition: all .1s ease;
}
.order-countdown .countdown-link:hover {
  color: #ddd;
}
.toggler {
  width: max-content;
}
.toggler-label {
  display: grid;
  grid-template-columns: auto auto auto;
  line-height: 1rem;
  position: relative;
  padding-right:  1rem;

}

.toggler-label i {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1rem;
}

.toggler.off .on,
.toggler.on .off{
  opacity: 0;
}

.toggler.off:hover .on,
.toggler.on:hover .off{
  opacity: .5;
}
.toggler.on .on,
.toggler.off .off{

}

.toggler.on:hover .on,
.toggler.off:hover .off{
  opacity: 0;
}
.navbar-icon.text-danger i:before {
 color: #e68722;
  content: "\f045";
  position: relative;
 top: 2px;
}

#FiatTicketsHider {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9999;
}
#FiatTicketsHider .open_chat {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.5rem;
}

.admin-panel {
  width:  100%;
}

.row-reverse {
  flex-direction: row-reverse;
}


.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.notification-feed {
    position: fixed;
    z-index: 9999;
    transition: 4s;
}

.notification-feed > *{
    margin-bottom: 5px;
}

.notification{
    text-overflow: ellipsis;
    padding: 10px;
    width: max-content;
    max-width: 280px;
    border: 1px solid transparent;
    border-radius: 2px;
    animation-name: zero-opacity-animation;
    animation-duration: 5s;
}


#settings_group .row {
    padding: 0px;
}
#settings_group input[type="number"] {
    width: 40px;
}
#settings_group input[type="checkbox"] {
    width: 16px;
}
#settings_group .icon {
    cursor: pointer;
}
#settings_group .icon.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.grey_box {
  background: #f8f8f8;
  border: 1px solid #EDEEF2;
  padding: 20px 20px;
}

.subtitle {
  margin-bottom: 6px;
/*  text-transform: uppercase;
  opacity: .8;*/
  font-weight: 600;
}

.hov:hover {
    cursor: pointer;
    color: #e68722 !important;
}

.relative {
    position: relative;
}

.input_arrow {
    position: absolute;
    top: 8px;
    right: 0px;
    opacity: 0.5;
    padding: 0px 10px;
}
.dropdow_container {
    padding: 10px 6px;
    width: 100%;
    font-size: 13px;
    line-height: 2;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 3px;
    position: absolute;
}


.flex_sb {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.flex_sb_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex_end {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0px;
  background: rgba(32, 34, 36, 0.5);
  overflow: auto;
  z-index: 99;
}
.popup_wrapper .popup_content .row-block {
  margin-top: 10px;
  padding-right: 30px;
}
.popup_wrapper label {
  color: #666;
}
.popup_content {
  width: 100%;
  padding: 40px;
  background: white;
  border: 1px solid #E8E8E8;
  -webkit-box-shadow: 4px 7px 26px 0 rgb(0 0 0 / 14%);
  box-shadow: 4px 7px 26px 0 rgb(0 0 0 / 14%);
  position: relative;
}
.user_role {
  margin:  5px 0 2px 0;
  font-size: 10px;
}
#feedback_manager .buttonwithspiner button {
  width: 80px;
  display: flex;
  justify-content: center;
}
.rw {
  display: flex;
  flex-wrap: nowrap;
}

.preloading {
  background: linear-gradient(to left, #fff0, #eee, #fff0);
  background-repeat: no-repeat;
  background-position-x: -500px;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}


#feedback_manager .preloading {
    background: linear-gradient(to left, red, #eee, #fff0);
}

.clue {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color : #e68722 !important;
  cursor:  pointer;
}

.clue:before {
 content:"\f059"
}

.cluePopUp {
  position: absolute;
  max-width: 320px;
  background-color: #fff;
  z-index: 999;
  border-radius: 6px;
  left : 0;
  right : 0;
  padding: 10px;
  box-shadow: 0px 1px 20px #04061c1a;
  visibility: hidden;
  font-size: 12px;
  color: #555;
}

@media screen and (max-width : 640px){
  .cluePopUp {
    max-width: 280px;
  }
}

.notice_shop .close {
  font-size: 18px;
  color: #a94442;
}

.label_new {
  font-size: 10px;
  position: absolute;
  top: 0px;
}


@media screen and (min-width : 640px){
  .popup_wrapper .row-block {
      padding-right: 20px;
  }
}


.icon.check {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #e68722;
}

.m_scroll {
  height: inherit;
  overflow-y: auto;
  direction: ltr;
  scrollbar-width: thin;
  scrollbar-color: #f9f9f9;
  overflow-x: hidden;
  z-index: 10;
}
.m_scroll::-webkit-scrollbar {
  width: 6px;
}
.m_scroll::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #f9f9f9;
}
.m_scroll::-webkit-scrollbar-thumb {
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  background-color: #eeeeee;
}

.security-service {
  background: #000;
  color : #fff !important
}

.security-service .link {
  color : #fff !important;
}
.security-service i {
  color : #fff !important;
}

.security-service .link:hover,
.security-service:hover .link,
.security-service:hover i,
.security-service.link:hover,
.security-service.link:focus {
  color: #e68722 !important;
}

.pdd-0-5 {
  padding: 0 5px;
}

.pdd-0-10 {
  padding: 0 10px;
}

hr.vr {
  width: 0px;
  margin: 0px;
  border-color: #D9D9D9 !important;
  border-right: 1px solid;
  height: 100%;
}

.f16 {
  font-size: 16px;
}

.buttons_fix {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
}

.buttons_fix i {
  font-size: 40px;
}

.buttons_fix .clueTg  {
  position: absolute;
  right: 40px;
  top: 0px;
  width: max-content;
  z-index: 99;
}
.buttons_fix .clueYt {
  position: absolute;
  right: 40px;
  top: 0px;
  width: max-content;
  z-index: 99;
}

.buttons_fix .icon:hover i {
  color: #eea236;
}


.info-block-main .domains {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.domains .main-domain, .second-domain, .noactive-domain {
  height: 34px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.domains .main-domain {
  background-color: #222;
  color: #fff;
}

.domains .second-domain {
  background-color: #eee;
}

.domains .noactive-domain {
  background-color: #fff;
  border: 1px solid #EDEDED;
  color: #93959e;
}

.domains .gradient {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9514180672268907) 70%, rgba(255,255,255,1) 100%);
}

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.new_btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.new {
  font-weight: 900;
  color: #e68722;
}

.btnsToggle>div {
  opacity: 0.3;
  cursor: pointer;
}
.btnsToggle>div[active] {
  opacity: 1;
}

.new_btnsToggle .new_btn {
  color: #93959e;
  border-bottom: 2px solid #0000;
}

.new_btnsToggle .new_btn[active] {
  color: #222;
  border-bottom: 2px solid #F0AD4E;
  font-weight: 600;
}

.steppe {
  font-family: "Steppe", Helvetica, sans-serif;
}

.medium {
  font-weight: 500 !important;
}

.test-dev-hawnkj2md {
  color : green;
}

.select-complex {
  position: relative;
}

.select-complex .select-loader {
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
}

.select-field {
  background:#fafafa url(/static/img/caret.png) no-repeat center right+5px;
}
.select-field-refresh {
  float: right;
}

.select-drop-down {
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 0px 7px #f0f0f0;
  border-radius: 0px 0px 4px 4px;
  max-height: 300px;
  height: max-content;
  line-height: 24px;
  overflow-y: scroll;
}


.select-drop-down a.select-list-option, .select-drop-down div.select-list-heading {
  padding: 5px 10px 0px 15px;
  cursor: pointer;
  display: block;
}

.select-drop-down a.select-list-option:hover {
  color: #e68722;
  background-color: #dcdcdc
}

.select-drop-down div.select-list-heading {
  background-color: #c4c4c4;
}

.select-drop-down div.select-list-heading span {
  font-weight: bold;
  font-size: 14px;
}

.select-form.error, .form-control.error {
  border: 1px solid #c70800;
}

.spamfilter-wrapper table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #EDEDED;
}

.tag-seller-active {
  background-color: rgb(37, 188, 88);
  color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 3px 7px;
  border-radius: 10px;
}

.tag-seller-noactive {
  background-color: #ee3c3c;
  color: #fff;
  font-size: 10px;
  padding: 3px 7px;
  border-radius: 10px;
}

.h100 {
  height: 100%;
}

.img-cover {
  overflow: hidden;
}
.img-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#mega-test input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

#mega-test input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc;
  height: 0.5rem;
  border-radius: 10px;
}

#mega-test input[type="range"]::-moz-range-track {
  background: #ccc;
  height: 0.5rem;
  border-radius: 10px;
}

#mega-test input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50px;
  margin-top: -6px;
  background-color: #E68722;
  height: 20px;
  width: 20px;
}

#mega-test input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50px;
  background-color: #E68722;
  height: 20px;
  width: 20px;
}

p.thin {
  font-weight: 200 !important;
}

[x-cloak] { 
  display: none;
}

a .link.hov:hover {
  border-bottom: 1px dashed #e68722;
}

.card .row_buttons > div:hover {
  color: #222;
  cursor: pointer;
}
.card .row_buttons > div {
  color: #999;
}
.card .row_buttons > div[active] {
  color: #222;
  cursor: default;
}

.card .openUp.two-lines {
  height: 40px;
}
.card .openUp.four-lines {
  height: 75px;
}
.card .openUp {
  overflow: hidden;
}
.card .openUp[open] {
  height: fit-content;
}

.product-images .img-quality {
  transform: rotate(-7deg);
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.product-info .donation-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000061;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 9;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#megatest-anchor .openUp {
  height: 80px;
}
#megatest-anchor .openUp[open] {
  height: fit-content;
}
#megatest-anchor h5 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}

#megatest-anchor p {
  margin: 0px;
}

.img-cover {
  overflow: hidden;
}
.img-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#OrderInfo .link+.fa,
#OrderInfo .link+.fa-solid
{
  color: #aaa;
}

.hasPgp{
  font-size: 9px;
  padding: 3px;
  border-radius: .25em;
  background-color: #e68722;
  color: #fff;
}

